*{
    font-family: system-ui;
}

header{
    height: 200px;
    display:grid;
    place-content: center;
    background-color: #14213d;
}

h1{
    color: #e5e5e5;
}

.chat {
    display: grid;
    
    align-items: end;
    grid-template-rows: min-content 400px auto;
}

.inputArea {
    display:grid;
    grid-template-columns: auto min-content;
    gap: 5px;
}

.sendBtn {
    padding-inline: 30px;
}

.allChatContainer {
    display: grid;
    grid: auto / repeat(auto-fit, minmax(333px, 1fr));
    gap: 15px;
}

.messageArea {
    height: 100%;
    align-content: end;
    border: 2px solid #FCA311;
    margin-block: 2px;
    border-radius: 0 0 10px 10px;
    overflow-y: scroll;
}

h2 {
    justify-self: center;
}

textarea {
    resize: none;
}

.manageRooms {
    display: grid;
    grid-template-columns: max-content min-content;
    justify-content: space-evenly;
}

#joinRoom {
    display: grid;
    grid-template-columns: 1fr max-content;
    gap: 15px;
}

#joinRoom p {
    margin: 0;
}